body{
    background: linear-gradient(to right, orange, white, green)
}
button{
    background-color: aquamarine;
    color: white;
    padding: 10px 50px;
    font-size: 50px;
    margin: 50px;
}
p{
    color: red;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    background: linear-gradient(to right,aqua,violet);
}
h1{
    color: blue;
   
    font-style: italic;
    font-size: 40px;
}
li{
    color: green;
    font-size: 30px;
}
#whats{
    width: 50px;
    height: 50px;
    margin: 50px 50px 20px 100px;
}
td,th{
    border: solid black 2px;
    text-align: center;
    border-spacing: 20px;
}
td:hover{
    background-color: violet;
}
th:hover{
    background-color: aqua;
}
tr:hover{
    background-color: yellow;
}